.header {
  background-color: #131210;
  margin: 0 0;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.content {
  color: white;
  margin-top: 30px;
}

.menu-text {
  padding-right: 15px;
}


.menu {
  display: inline-block;
  padding-left: 50px;
}

#menu-first-pic {
  padding-left: 101px;
}

#menu-second-pic {
  padding-left: 700px;
}

.main-text {
  color:#131210;
  text-transform: uppercase;
  font-size: 8em;
  text-align: center;
  padding-top: 282px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -150px;
}

.button-style {
width: 124px;
height: 55px;
border: none;
background-color: white;
border-radius: 30px;
color: #135ec5;
font-weight: bold;
font-size: medium;
}

.paragraf {
  margin: 0;
  border: 20px solid #12110f;
  border-radius: 70px;
  margin: 0 150px;
  background-color: #100f0d;
}

.main-pic {
  padding-left: 330px;
  margin-top: -210px;
}

.footer-main {
margin: 50px 0;
}

.footer-content-button {
  padding: 0;
  display: inline-block;
  width: 214px;
  height: 55px;
  border: none;
  border-radius: 30px;
  background-color: #135ec5;
  font-weight: bold;
  font-size: medium;
  color: white;
}

.footer-p {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
font-size: medium;
font-weight: bold;
}
ul {
  list-style: none;
}

li {
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #3c3c3c;
  font-size: 2em;
  font-weight: bold;
  
  padding-right: 30px;
}

hr {
  background-color: #3c3c3c;
  border: none;
  width: 330px;
  height: 2px;
}

#hr-black {
  border: none;
  background-color: #131210;
}